@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #242424;
  color: #fff;
}